@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700,700italic);
body {
  padding: 10px;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  color: #28568a;
  background: #dddddd;
}
.wrapper {
  display: inline-block;
  padding: 10px 15px;
  min-width: 300px;
  max-width: 800px;
  text-align: left;
  background: #ffffff;
}
h1 {
  margin: 20px;
  text-align: center;
  font-size: 24px;
}
ul,
ol {
  padding: 0;
}
p {
  margin: 5px 0 0 0;
}
a {
  color: #28568a;
}
a:hover {
  background: #ffb30f;
  margin: -2px;
  padding: 2px;
}
img.head-logo {
  display: block;
  width: 232px;
  height: 210px;
  margin: auto;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
hr {
  background: linear-gradient(90deg, #50a8e2, #28568a);
  border: none;
  height: 7px;
  width: 100%;
  margin: 15px 0;
}
hr:last-child {
  margin-bottom: 5px;
}
.social-media-list li {
  list-style: none;
  margin-left: 15px;
}
.social-media-list .site {
  display: inline-block;
  width: 80px;
}
